<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>056E4B0B2239BECD0056F410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>056E4B1F2239BECE0056F410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>056E4B2A2239BECE0056F410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
